@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* hero section */
.hero-section {
    height: 919px;
    background: linear-gradient(0deg, rgb(9, 9, 9) 3.482%, rgba(16, 16, 16, 0) 101.632%), url('assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 1020px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hero-content .subtitle {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    text-align: center;
    opacity: 0.8;
}

.hero-content .title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
}

.hero-content .texts {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    opacity: 0.7;
}

.btn-green {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    padding: 21px 32px 21px 32px;
    border: none;
    opacity: 0.95;
    cursor: pointer;
    transition: 0.3s;
}

.btn-green:hover {
    opacity: 1;
}

/* card section */
.card-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 167px 184px;
}

.card-section .subtitle {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    opacity: 0.6;
}

.card-section .title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    margin: 1rem auto 2.5rem;
}

.card-container {
    display: flex;
    gap: 1.5rem;
}

.card-container .card {
    max-width: 424px;
    text-align: center;
}

.card img {
    width: 100%;
}

.card-subtitle {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    padding: 14px 32px;
    display: inline-block;
}

.card-title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
}

.card-text {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.card-container .card-btn {
    display: none;
}

.card img,
.card h3,
.card p {
    margin-bottom: 1.5rem;
}
.card-section > button{
    margin-top: 4rem;
}

@media screen and (max-width: 1440px) {
    .hero-section {
        height: 615px;
    }

    .hero-content {
        gap: 1.6rem;
    }

    .hero-content .subtitle, .card-section .subtitle {
        font-size: 1.5rem;
    }

    .hero-content .title, .card-section .title {
        font-size: 2.8rem;
        line-height: 3.5rem;
    }

    .hero-content .texts {
        font-size: 1.2rem;
    }

    .btn-green {
        font-size: 1.1rem;
        line-height: 23px;
        padding: 17px 28px 17px 32px;
    }
    .card-section{
        padding: 100px 100px;
    }
    .card-container .card{
        max-width: 300px;
    }
    .card-subtitle, .card-text{
        font-size: 1rem;
    }
    .card-title{
        font-size: 2rem;
    }
    .card-text{
        line-height: 1.5rem;
    }
    .card-section > button{
        margin-top: 2.5rem;
    }
}