@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root{
    --dark-1: #131313;
    --dark-2: #424242;
    --dark-3: #727272;
    --text-orange: rgba(255, 144, 14, 1);
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
/* shared styles */
.d-flex{
    display: flex;
}
.floating-box{
    max-width: 1440px; margin: auto;
}
.btn{
    padding: 20px 24px; border-radius: 8px; font-size: 1.25rem; border: none; font-weight: 600;
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1); color: white;
}
main > section{
    margin-bottom: 130px;
}
nav, section{
    padding-left: 10px; padding-right: 10px;
}
.article-title{
    font-size: 2.8rem; color: var(--dark-1);
}
.article-text{
    color: var(--dark-3);
}

/* header section */
header{
    background-color: rgba(255, 144, 14, 0.1); margin-bottom: 85px;
}
nav{
    justify-content: space-between; align-items: center;
}
nav h1{
    font-size: 2.8rem;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block; margin-left: 3rem;
}
nav ul li a{
    text-decoration: none; color: var(--dark-2); font-size: 1.125rem;
}

/* banner section */
.banner-content{
    max-width: 862px; text-align: center; margin: 102px auto 50px;
}
.banner-content h2{
    font-size: 4rem; color: var(--dark-1); margin: 0;
}
.banner-content p{
    color: var(--dark-3);
}
.banner-content button{
    margin-top: 2rem;
}
.banner img{
    width: 100%;
}


/* our team and features section */
.our-teams{
    justify-content: center; align-items: center; gap: 73px;
}
.team-images{
    display: grid; grid-template-columns: repeat(2, 1fr); gap: 1.5rem;
}
.team-images img{
    width: 100%;
}
.team-features{
    max-width: 537px;
}
.team-features h3{
    margin: 0;
}
.team-features .part-1{
    color: var(--dark-3); font-weight: 500;
}
.team-features .part-3{
    color: var(--text-orange);
}
.team-features p{
    margin: 24px auto 32px;
}


/* features section */
section.features{
    gap: 145px; align-items: center;
}
.features-content{
    flex-basis: 40%;
}
.features-image{
    flex-basis: 60%;
}
.features-content h3{
    border-left: 5px solid rgba(255, 144, 14, 1); padding-left: 21px;
}
.features-card{
    padding: 30px; margin-bottom: 1.25rem; border-radius: 8px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
}
.features-card h4{
    font-size: 1.25rem; font-weight: 600; margin: 2px auto 0;
}
.features-image img{
    width: 100%;
}
.btn-exp{
    padding: 45px 42px; font-size: 1.5rem; margin-left: -92px; margin-top: -130px;
}
.experience-years{
    font-size: 4rem;
}

/* facts section */
.facts-cards, .sponsors-images{
    margin-top: 100px; display: grid; grid-template-columns: repeat(4, 1fr); justify-items: center;
}
.facts-cards .cards{
    width: 240px; border: 1px solid rgba(255, 144, 14, 1); padding: 45px 36px; border-radius: 8px; text-align: center;
}
.facts-cards .cards h4{
    font-size: 2.8125rem; font-weight: 600; margin: 2px auto;
}
.facts-cards .cards p{
    margin: 0; color: var(--dark-3); font-weight: 600;
}


/* sponsor section */
.our-sponsor h3, .our-sponsor p{
    max-width: 542px; text-align: center; margin-left: auto; margin-right: auto;
}
.sponsors-images{
    grid-template-columns: repeat(5, 1fr);
}
.sponsors-images img{
    filter: grayscale(1);
}

/* footer */
footer{
    background-color: rgba(255, 244, 231, 1); text-align: center; margin-bottom: 216px !important;
}
footer p{
    padding: 40px;
}

/* responsive design */
@media screen and (max-width: 1024px){
    section.features{
        flex-direction: column;
    }
    .btn-exp{
        margin: 40px auto auto 30%;
    }
    .facts-cards{
        grid-template-columns: repeat(2, 1fr); gap: 4rem;
    }
    .sponsors-images{
        grid-template-columns: repeat(3, 1fr); gap: 4rem;
    }
}
@media screen and (max-width: 992px){
    .our-teams{
        flex-direction: column;
    }
    .sponsors-images{
        grid-template-columns: repeat(2, 1fr); gap: 3rem;
    }
}
@media screen and (max-width: 576px){
    nav{
        flex-direction: column;
    }
    nav ul li{
        display: block;
    }
    .team-images{
        grid-template-columns: 1fr;
    }
    .btn-exp{
        margin: 40px auto auto 15%;
    }
    .facts-cards{
        grid-template-columns: 1fr; gap: 3rem;
    }
    .sponsors-images{
        grid-template-columns: 1fr;
    }
}