/* font import : Poppin */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}
:root{
    --black: rgba(58, 58, 58, 1);
    --red: rgba(224, 44, 109, 1);
}
body{
    font-family: "Poppins", sans-serif; margin: 0;
}

/* shared styles */
.container-lg{
    max-width: 1200px; margin: auto; padding-left: 1rem; padding-right: 1rem;
}
.d-flex{
    display: flex;
}
.flex-center{
    place-items: center;
}
main > section{
    margin-bottom: 70px;
}


/* header */
header{
    flex-direction: row-reverse; justify-content: space-between; color: var(--black); padding: 40px 0 40px;
}
.nav-bar{
    background-color: white; border: none;
}
.nav-bar i{
    font-size: 2rem;
}
nav ul{
    list-style-type: none; margin: 0; padding: 0; gap: 2rem;
}
nav ul li a{
    text-decoration: none; color: var(--black); font-size: 1rem; font-weight: 600;
}
nav ul img{
    padding-top: 10px;
}
header h2{
    font-size: 2rem;
}
.fixed-button, .nav-bar{
    display: none;
}

/* section : banner */
.banner{
    justify-content: space-between; align-items: center;
}
.banner .banner-content{
    max-width: 582px;
}
.banner-content h2{
    font-size: 3.25rem; margin: 0;
}
.banner-content p{
    font-weight: 600; margin: 16px auto 24px;
}
.banner-content button{
    font-size: 1rem; font-weight: 800; padding: 10px 24px; border-radius: 41px; border: none; background-color: var(--red); color: white;
}
.banner-content button i{
    margin-left: 0.5rem;
}
.banner .banner-image{
    padding: 30px; background-image: url('images/Circle-design.svg'); background-repeat: no-repeat; background-position: center;
}


/* media queries */
@media screen and (max-width: 992px){
    header{
        flex-direction: row;
    }
    .top-nav{
        display: none;
    }   
    .fixed-button, .nav-bar{
        display: block;
    }
    .banner-content h2{
        font-size: 2.25rem;
    }
    .banner > div{
        flex-basis: 50%;
    }
    .banner .banner-image{
        background-size: contain;
    }
    .banner-image img{
        width: 100%;
    }
}
@media screen and (max-width: 700px){
    header h2{
        font-size: 1.5rem;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .fixed-button img{
        width: 1.5rem;
    }
    .nav-bar i{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 500px){
    header h2{
        font-size: 1rem;
    }
}