#posts-container{    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.post-card{
    box-shadow: 0 0 5px gray;
    padding: 16px 20px 20px;
    border-radius: 10px;
}
.post-card h2{
    text-transform: capitalize;
}
.post-card p{
    text-align: justify;
}
.post-card a{
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    #posts-container{
        grid-template-columns: 1fr;
    }
}